<%= cloudinary_js_config %>

<h1>New Student Detail</h1>

<%= render 'form' %>

<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
</FORM>

<%= link_to 'Back', student_details_path %>
