<div class="container">
	<%= cloudinary_js_config %>

	<div class="row"></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
				<div class="jumbotron">
					
						<p>
						  <h1>New Student Detail</h1>
						  <%= render 'form' %>
						</p>
					
				</div>

		</div>
	  <div class="col-md-2"></div>

	</div>

	<%= link_to 'Back', student_details_path %>
</div>