		<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School<span class="primarycolor"> GALLERY</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		
	<center><h2 ><span id="heading" style="text-align:center;">26th January</span></h2></center>
	<div id="links">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_1.JPG" title="26th January 1" data-gallery>
				<img src="assets/gallery/26-jan/pic_1.JPG"  alt="26th January 1" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_2.JPG" title="26th January 2" data-gallery>
				<img src="assets/gallery/26-jan/pic_2.JPG"  alt="26th January 2" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_3.JPG" title="26th January 3" data-gallery>
				<img src="assets/gallery/26-jan/pic_3.JPG"  alt="26th January 3" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_4.JPG" title="26th January 4" data-gallery>
				<img src="assets/gallery/26-jan/pic_4.JPG"  alt="26th January 4" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_5.JPG" title="26th January 5" data-gallery>
				<img src="assets/gallery/26-jan/pic_5.JPG"  alt="26th January 5" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_6.JPG" title="26th January 6" data-gallery>
				<img src="assets/gallery/26-jan/pic_6.JPG"  alt="26th January 6" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_7.JPG" title="26th January 7" data-gallery>
				<img src="assets/gallery/26-jan/pic_7.JPG"  alt="26th January 7" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_8.JPG" title="26th January 8" data-gallery>
				<img src="assets/gallery/26-jan/pic_8.JPG"  alt="26th January 8" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_9.JPG" title="26th January 9" data-gallery>
				<img src="assets/gallery/26-jan/pic_9.JPG"  alt="26th January 9" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_10.JPG" title="26th January 10" data-gallery>
				<img src="assets/gallery/26-jan/pic_10.JPG"  alt="26th January 10" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_11.JPG" title="26th January 11" data-gallery>
				<img src="assets/gallery/26-jan/pic_11.JPG"  alt="26th January 11" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_12.JPG" title="26th January 12" data-gallery>
				<img src="assets/gallery/26-jan/pic_12.JPG"  alt="26th January 12" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_13.JPG" title="26th January 13" data-gallery>
				<img src="assets/gallery/26-jan/pic_13.JPG"  alt="26th January 13" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_14.JPG" title="26th January 14" data-gallery>
				<img src="assets/gallery/26-jan/pic_14.JPG"  alt="26th January 14" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_15.JPG" title="26th January 15" data-gallery>
				<img src="assets/gallery/26-jan/pic_15.JPG"  alt="26th January 15" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_16.JPG" title="26th January 16" data-gallery>
				<img src="assets/gallery/26-jan/pic_16.JPG"  alt="26th January 16" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_17.JPG" title="26th January 17" data-gallery>
				<img src="assets/gallery/26-jan/pic_17.JPG"  alt="26th January 17" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_18.JPG" title="26th January 18" data-gallery>
				<img src="assets/gallery/26-jan/pic_18.JPG"  alt="26th January 18" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_19.JPG" title="26th January 19" data-gallery>
				<img src="assets/gallery/26-jan/pic_19.JPG"  alt="26th January 19" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_20.JPG" title="26th January 20" data-gallery>
				<img src="assets/gallery/26-jan/pic_20.JPG"  alt="26th January 20" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/26-jan/pic_21.JPG" title="26th January 21" data-gallery>
				<img src="assets/gallery/26-jan/pic_21.JPG"  alt="26th January 21" class="bordered img-responsive" />
			</a>
		</div>
	</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->

    <div class="slides">
    </div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
	</div>
	</div>