	<div>
	<div class="container">
	<%= image_tag("administration/admission/admission_banner1.PNG",:style => "width:100%;") %>
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
               
                  <td style="text-align:justify; padding-left:10px; font-size:16px;"><p>Admissions are granted to all  irrespective of sex, caste, creed or social status, if there is a vacancy in a  particular 
                    class. Admission of a child to the  school &nbsp;means complete acceptance of all  the school rules in force and all amendments thereof.</p><br>
                    <p class="profile-text">Prospectus containing  Registration Form / Provisional Admission Form may be collected from the office from the first week of January for the session starting from April of that  year. The non-refundable registration fee along with the form must be submitted  before the date given for Admission Test. </p><br>
                    <p class="profile-text">Parents /Guardians are required  to bring the candidates on the specified date and time given for the Admission  Test to avoid any disappointment. Registration or Appearance in the test does  not, in any way, guarantee admission. Admission is granted on the basis of the  performance or merit only. </p><br>
                    <p class="profile-text"><font color="#247EAD" size="3"><strong>ELIGIBILITY 
                    FOR THE BEGINNERS</strong></font>
                      <span class="style31"><font size="3">FOR SESSION 2016-2017</font></span>
                     <br>
                      Nursery&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      &nbsp;&nbsp;born on or before Dec. 2013<br>
                      KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      born on or before Dec 2012<br>
                      Prep&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      born on or before Dec. 2011<br>
                      1st&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      born on or before Dec. 2010</p><br>
                    <p class="profile-text">Birth Certificate provided by the  local Government body and a photograph of the candidate have to be attached  with the Registration Form, whereas in case of admission in higher classes (2nd  onwards) Transfer Certificate duly counter signed by District Education Officer,  Mark Sheet of the previous class and a photograph must be attached with the  Admission Form issued by the Principal/ Admission In-charge after the admission  test.</p>
                    <p class="profile-text">The particulars of the candidate  as recorded in the T.C. and Mark Sheet should tally with the same entered in  the Registration Form and Admission Form and will be considered final. No  request for the change of name, date of birth etc. will be entertained.&nbsp; </p><br>
                    <p><span class="profile-text">After admission is granted, the  Parents / Guardians require to deposit the amount of fee within five days of  admission declaration, and to equip their wards with all study materials and uniforms  available in the school book store and dress counter only to avoid any  inconvenience. &nbsp;</span>&nbsp;</p></td><br>
                </tr>
               
              </tbody></table></td>
            </tr>
          </tbody></table></div>
		  <div class="col-xs-2"></div>
	
    </div> 