	<div>
	<div>
		<div class="container" >
	<center><img src="assets/contact_us/contact2.jpg" width="70%;"/></center>
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">Contact Us <span class="primarycolor"> </span></h1><hr style="width:50%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
      <div class="table-responsive" >
        <table class="table table-hover " style="border-top:none;">
          <tbody id="myTable ">
            <tr style="border-top:hidden;">
			  <td style="font-weight:bold; font-style:italic; font-size:20px">M.G.M SR. SEC. SCHOOL<br>
				FIROZABAD,DHOLPURA ROAD,<br>
				UTTAR PARADESH ,<br>
				PIN CODE:283203

			  </td>
            </tr>
            <tr>
              <td style="font-weight:bold; font-style:italic; font-size:20px">Mobile: +91-9219420221</td>
			  
            <tr>
				<td style="font-weight:bold; font-style:italic; font-size:20px">Email: mgm.firozabade@gmail.com</td>
            </tr>
            <tr>
              <td style="font-weight:bold; font-style:italic; font-size:20px">Website: www.mgmssschoolfzd.com</td>
			  
            </tr>
          </tbody>
        </table>   
      </div>

	</div>
	<div class="col-xs-3"></div>
</div>
	</div>