		
			<div class="container">
	  <div id="header">
				<div class="col-xs-3 cart1" style="top:5px;">
					<!--<p height="20px;" width="20px;">M.G.M Sr.Sec. School<p/>-->
				</div>
				<div class="col-xs-6 logo" align="center">
					<h2 height="20px;" width="20px;" style="color:#DAE356;">M.G.M Sr.Sec. School</br>
					Firozabade,UP</h2>
				</div>
				<div class="col-xs-2 hidden-xs social" style="margin-top:40px; float:right;">
					<%= link_to image_tag("home_page/facebook.png",size: "30x30",class: "img-responsive social1",:style => "float: right;"),"https://www.facebook.com/M.G.MSchool1979.firozabade/" %>
					<%= link_to image_tag("home_page/email.png",size: "30x30",class: "img-responsive social1",:style => "float: right;"),"https://www.mgmschoolfirozabad@gmail.com" %>
					<%= image_tag("home_page/twitter1.png",size: "30x30",class: "img-responsive social1",:style => "float: right;") %>
              </div>
			 </div>   	

        <div class=" navbar navbar-default hidden-xs">
          <nav role="navigation" class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
					<li><a href="home" class="firstmenu">home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
							<ul class="dropdown-menu ">
										<li class="submenu"><a href="about_us">mission & vision</a></li>
										<li class="submenu"><a href="school_glance">school at glance</a></li>
										<li class="submenu"><a href="school_prayer">school prayer</a></li>
										<li class="submenu"><a href="school_anthem">school anthem</a></li>
							</ul>	
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="admission">admission</a></li>
										<li class="submenu"><a href="uniform">school uniform</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="parents_recomandation">recommendations to parents</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="teaching_staff">teaching staff</a></li>
							</ul>	
					</li>
					<li id="my"><a href="gallery">gallery</a></li>
					<li id="my"><a href="tc">download t.c.</a></li>
					<li id="my"><a href="contact_us">contact us</a></li>
					<li id="my"><a href="login">login</a></li>
				</ul>
          </nav>
        </div>
<div id="scroll" class="hidden-lg hidden-md hidden-sm">
      <nav class="menu-m col-xs-3" role="navigation" style="overflow-y:scroll;">
			  <ul class="nav navbar-nav">
					<li><a href="home" class="firstmenu">home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
							<ul class="dropdown-menu ">
										<li class="submenu"><a href="about_us">mission & vision</a></li>
										<li class="submenu"><a href="school_glance">school at glance</a></li>
										<li class="submenu"><a href="school_prayer">school prayer</a></li>
										<li class="submenu"><a href="school_anthem">school anthem</a></li>
							</ul>	GALLERY
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="admission">admission</a></li>
										<li class="submenu"><a href="uniform">school uniform</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="parents_recomandation">recommendations to<br> parents</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="teaching_staff">teaching staff</a></li>
							</ul>	
					</li>
					<li id="my"><a href="gallery">gallery</a></li>
					<li id="my"><a href="tc">download t.c.</a></li>
					<li id="my"><a href="contact_us">contact us</a></li>
					<li id="my"><a href="login">login</a></li>
				</ul>
  </nav>
			  <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</div>
	<div>
	<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor"> GALLERY</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		
	<center><h2 ><span id="heading" style="text-align:center;">Feveral Party</span></h2></center>
<div class="container" >
<div class = "row">
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
	<%=link_to  image_tag("gallery/feveral_party/pic_1.JPG",:class => "bordered img-responsive"),"gallery/feveral_party/pic_1.jpg" %>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
	<a href="images/feveral_party/pic_2.jpg" rel="lightbox[example]" title="Feveral Party2">
		<img src="images/feveral_party/pic_2.jpg"  alt="Feveral Party2" class="bordered img-responsive" />
	</a>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_3.jpg" rel="lightbox[example]" title="Feveral Party3"><img src="images/feveral_party/pic_3.jpg"  alt="Rare-Rabbit1" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_4.jpg" rel="lightbox[example]" title="Feveral Party4"><img src="images/feveral_party/pic_4.jpg"  alt="Feveral Party30" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_5.jpg" rel="lightbox[example]" title="Feveral Party5"><img src="images/feveral_party/pic_5.jpg"  alt="Rare-Rabbit12" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_6.jpg" rel="lightbox[example]" title="Feveral Party6"><img src="images/feveral_party/pic_6.jpg"  alt="Rare-Rabbit5" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_7.jpg" rel="lightbox[example]" title="Feveral Party7"><img src="images/feveral_party/pic_7.jpg"  alt="Rare-Rabbit10" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_8.jpg" rel="lightbox[example]" title="Feveral Party8"><img src="images/feveral_party/pic_8.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_9.jpg" rel="lightbox[example]" title="Feveral Party9"><img src="images/feveral_party/pic_9.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_10.jpg" rel="lightbox[example]" title="Feveral Party10"><img src="images/feveral_party/pic_10.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_11.jpg" rel="lightbox[example]" title="Feveral Party11"><img src="images/feveral_party/pic_11.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_12.jpg" rel="lightbox[example]" title="Feveral Party12"><img src="images/feveral_party/pic_12.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_13.jpg" rel="lightbox[example]" title="Feveral Party13"><img src="images/feveral_party/pic_13.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_14.jpg" rel="lightbox[example]" title="Feveral Party14"><img src="images/feveral_party/pic_14.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_15.jpg" rel="lightbox[example]" title="Feveral Party15"><img src="images/feveral_party/pic_15.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_16.jpg" rel="lightbox[example]" title="Feveral Party16"><img src="images/feveral_party/pic_16.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_17.jpg" rel="lightbox[example]" title="Feveral Party17"><img src="images/feveral_party/pic_17.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_18.jpg" rel="lightbox[example]" title="Feveral Party18"><img src="images/feveral_party/pic_18.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_19.jpg" rel="lightbox[example]" title="Feveral Party19"><img src="images/feveral_party/pic_19.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_20.jpg" rel="lightbox[example]" title="Feveral Party20"><img src="images/feveral_party/pic_20.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_21.jpg" rel="lightbox[example]" title="Feveral Party21"><img src="images/feveral_party/pic_21.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_22.jpg" rel="lightbox[example]" title="Feveral Party22"><img src="images/feveral_party/pic_22.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_23.jpg" rel="lightbox[example]" title="Feveral Party23"><img src="images/feveral_party/pic_23.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_24.jpg" rel="lightbox[example]" title="Feveral Party24"><img src="images/feveral_party/pic_24.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_25.jpg" rel="lightbox[example]" title="Feveral Party25"><img src="images/feveral_party/pic_25.jpg"  alt="Rare-Rabbit4" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_26.jpg" rel="lightbox[example]" title="Feveral Party26"><img src="images/feveral_party/pic_26.jpg"  alt="Rare-Rabbit3" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_27.jpg" rel="lightbox[example]" title="Feveral Party27"><img src="images/feveral_party/pic_27.jpg"  alt="Rare-Rabbit1" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_28.jpg" rel="lightbox[example]" title="Feveral Party28"><img src="images/feveral_party/pic_28.jpg"  alt="Feveral Party30" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_29.jpg" rel="lightbox[example]" title="Feveral Party29"><img src="images/feveral_party/pic_29.jpg"  alt="Rare-Rabbit12" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_30.jpg" rel="lightbox[example]" title="Feveral Party30"><img src="images/feveral_party/pic_30.jpg"  alt="Rare-Rabbit5" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_31.jpg" rel="lightbox[example]" title="Feveral Party31"><img src="images/feveral_party/pic_31.jpg"  alt="Rare-Rabbit10" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_32.jpg" rel="lightbox[example]" title="Feveral Party32"><img src="images/feveral_party/pic_32.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_33.jpg" rel="lightbox[example]" title="Feveral Party33"><img src="images/feveral_party/pic_33.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_34.jpg" rel="lightbox[example]" title="Feveral Party34"><img src="images/feveral_party/pic_34.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_35.jpg" rel="lightbox[example]" title="Feveral Party35"><img src="images/feveral_party/pic_35.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_36.jpg" rel="lightbox[example]" title="Feveral Party36"><img src="images/feveral_party/pic_36.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_37.jpg" rel="lightbox[example]" title="Feveral Party30"20img src="images/feveral_party/pic_37.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_38.jpg" rel="lightbox[example]" title="Feveral Party37"><img src="images/feveral_party/pic_38.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_39.jpg" rel="lightbox[example]" title="Feveral Party38"><img src="images/feveral_party/pic_39.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_40.jpg" rel="lightbox[example]" title="Feveral Party39"><img src="images/feveral_party/pic_40.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_41.jpg" rel="lightbox[example]" title="Feveral Party40"><img src="images/feveral_party/pic_41.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_42.jpg" rel="lightbox[example]" title="Feveral Party41"><img src="images/feveral_party/pic_42.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_43.jpg" rel="lightbox[example]" title="Feveral Party42"><img src="images/feveral_party/pic_43.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_44.jpg" rel="lightbox[example]" title="Feveral Party43"><img src="images/feveral_party/pic_44.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_45.jpg" rel="lightbox[example]" title="Feveral Party44"><img src="images/feveral_party/pic_45.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_46.jpg" rel="lightbox[example]" title="Feveral Party45"><img src="images/feveral_party/pic_46.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_47.jpg" rel="lightbox[example]" title="Feveral Party46"><img src="images/feveral_party/pic_47.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_48.jpg" rel="lightbox[example]" title="Feveral Party47"><img src="images/feveral_party/pic_48.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_49.jpg" rel="lightbox[example]" title="Feveral Party48"><img src="images/feveral_party/pic_49.jpg"  alt="Rare-Rabbit4" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_50.jpg" rel="lightbox[example]" title="Feveral Party49"><img src="images/feveral_party/pic_50.jpg"  alt="Rare-Rabbit3" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_51.jpg" rel="lightbox[example]" title="Feveral Party50"><img src="images/feveral_party/pic_51.jpg"  alt="Rare-Rabbit1" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_52.jpg" rel="lightbox[example]" title="Feveral Party51"><img src="images/feveral_party/pic_52.jpg"  alt="Feveral Party30" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_53.jpg" rel="lightbox[example]" title="Feveral Party52"><img src="images/feveral_party/pic_53.jpg"  alt="Rare-Rabbit12" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_54.jpg" rel="lightbox[example]" title="Feveral Party53"><img src="images/feveral_party/pic_54.jpg"  alt="Rare-Rabbit5" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_55.jpg" rel="lightbox[example]" title="Feveral Party54"><img src="images/feveral_party/pic_55.jpg"  alt="Rare-Rabbit10" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_56.jpg" rel="lightbox[example]" title="Feveral Party55"><img src="images/feveral_party/pic_56.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_57.jpg" rel="lightbox[example]" title="Feveral Party56"><img src="images/feveral_party/pic_57.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_58.jpg" rel="lightbox[example]" title="Feveral Party57"><img src="images/feveral_party/pic_58.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_59.jpg" rel="lightbox[example]" title="Feveral Party58"><img src="images/feveral_party/pic_59.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_60.jpg" rel="lightbox[example]" title="Feveral Party59"><img src="images/feveral_party/pic_60.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_61.jpg" rel="lightbox[example]" title="Feveral Party60"><img src="images/feveral_party/pic_61.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_62.jpg" rel="lightbox[example]" title="Feveral Party61"><img src="images/feveral_party/pic_62.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_63.jpg" rel="lightbox[example]" title="Feveral Party62"><img src="images/feveral_party/pic_63.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_64.jpg" rel="lightbox[example]" title="Feveral Party63"><img src="images/feveral_party/pic_64.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_65.jpg" rel="lightbox[example]" title="Feveral Party64"><img src="images/feveral_party/pic_65.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_66.jpg" rel="lightbox[example]" title="Feveral Party65"><img src="images/feveral_party/pic_66.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_67.jpg" rel="lightbox[example]" title="Feveral Party66"><img src="images/feveral_party/pic_67.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_68.jpg" rel="lightbox[example]" title="Feveral Party67"><img src="images/feveral_party/pic_68.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_69.jpg" rel="lightbox[example]" title="Feveral Party68"><img src="images/feveral_party/pic_69.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_70.jpg" rel="lightbox[example]" title="Feveral Party69"><img src="images/feveral_party/pic_70.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_71.jpg" rel="lightbox[example]" title="Feveral Party70"><img src="images/feveral_party/pic_71.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_72.jpg" rel="lightbox[example]" title="Feveral Party71"><img src="images/feveral_party/pic_72.jpg"  alt="Rare-Rabbit9" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_73.jpg" rel="lightbox[example]" title="Feveral Party72"><img src="images/feveral_party/pic_73.jpg"  alt="Rare-Rabbit4" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_74.jpg" rel="lightbox[example]" title="Feveral Party73"><img src="images/feveral_party/pic_74.jpg"  alt="Rare-Rabbit3" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_75.jpg" rel="lightbox[example]" title="Feveral Party74"><img src="images/feveral_party/pic_75.jpg"  alt="Rare-Rabbit1" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_76.jpg" rel="lightbox[example]" title="Feveral Party75"><img src="images/feveral_party/pic_76.jpg"  alt="Feveral Party30" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_77.jpg" rel="lightbox[example]" title="Feveral Party76"><img src="images/feveral_party/pic_77.jpg"  alt="Rare-Rabbit12" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_78.jpg" rel="lightbox[example]" title="Feveral Party77"><img src="images/feveral_party/pic_78.jpg"  alt="Rare-Rabbit5" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_79.jpg" rel="lightbox[example]" title="Feveral Party78"><img src="images/feveral_party/pic_79.jpg"  alt="Rare-Rabbit10" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_80.jpg" rel="lightbox[example]" title="Feveral Party79"><img src="images/feveral_party/pic_80.jpg"  alt="Rare-Rabbit10" class="bordered img-responsive" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><a href="images/feveral_party/pic_80.jpg" rel="lightbox[example]" title="Feveral Party80"><img src="images/feveral_party/pic_80.jpg"  alt="Rare-Rabbit10" class="bordered img-responsive" /></a></div>
</div>
</div>
	</div>
	</div>
	<div class="footer footerdark">
		<div class="container">
			<!-- 1st row -->
			<div class="row-fluid">
				<div class="col-xs-4">
					<h1 class="title"><i class="fa fa-phone" style="font-size:15px;"></i>  contact us</h1>
					<hr></br>
					<a href=" mailto:mgmschoolfirozabad@gmail.com"><i class="fa fa-envelope-o"style="font-size:19px;"> mgmschoolfirozabad@gmail.com</i></a></br></br></br></br></br></br>
					<i class="fa fa-phone" style="font-size:19px;"> +91-9219420221</i>
				</div>
				<div class="col-xs-4">
				
					<h1 class="title"><i class="fa fa-map-marker" style="font-size:15px;"></i> Address</h1><hr>
					
					<div id="googleMap" class="col-xs-6" style="height:250px;"></div>
					<div id="address" class="col-xs-6">
              <addressess>
				M.G.M Sr. Sec. School<br>
				Firozabad,Dholpur road,<br>
				Uttar Paradesh ,<br>
				Pin Code:283203
			
              </addressess>
              </div>
					
				</div>
				<div class="col-xs-4">
				
					<h1 class="title"><i class="fa fa-comment" style="font-size:15px;"></i> Questions? / Feedback</h1>
					<hr>
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							Your message has been sent. Thank you!
						</div>
					</div>
					<form method="post" action="#" id="contactform">
						<div class="form">
							<div class="controls controls-row">
								<input class="span6 text-box" type="text" name="name" placeholder="Name" style="width:45%;">
								<input class="span6 text-box" type="text" name="email" placeholder="E-mail">
							</div>
							<div class="controls">
								<textarea class="span12 text-msg-box" name="comment" rows="4" placeholder="Message"></textarea>
							</div>
							<input type="submit" id="submit" class="btn" value="Send" style="outline:none;">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 2nd row -->
	<div class="footerbottom footerbottomdark">
		<div class="container">
			<div class="row-fluid">
				<!-- left -->
				<div class="col-xs-4 smallspacetop">
					<p class="smaller">
						<span class="copyright"></span> © Copyright 2015 mgmssschool.com
					</p>
				</div>
				<!-- right -->
				<div class="col-xs-4 smallspacetop" >
					<div class=" smaller" style="text-align:center;">
						<ul class="footermenu" >
							<li><a href="home">Home</a></li>
							<li><a href="about_us">About Us</a></li>
							<li><a href="gallery">Gallery</a></li>
							<li><a href="teaching_staff">Staff</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</div>
					<div class="clearfix">
					</div>
				</div>
				<div class="col-xs-4 smallspacetop">
				<a href="https://www.facebook.com/M.G.MSchool1979.firozabade/" class="social1"><i class="fa fa-facebook-official"></i></a>
				<a href="https://plus.google.com/u/3/" class="social1"><i class="fa fa-google-plus-square"></i></a>
				<a href="https://twitter.com/Mgm_firozabade" class="social1"><i class="fa fa-twitter-square"></i></a>
				</div>
				<!-- end right -->
			</div>
		</div>
	</div>
<a href="#" class="back-to-top" style="display: inline;">
 
<i class="fa fa-arrow-circle-up back-to-top"></i>
 
</a>
</div>