<div>
	<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor"> GALLERY</span></h1><hr style="width:40%; border-color:#0b0b0b;">
<div class="container">

<div class = "row row-centered"style="margin-left:20px; margin-right:20px;" align="center;">
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><%=link_to image_tag("gallery/school/pic1.JPG",:style => "height:300px; width:100%;",:class => "bordered img-responsive"),"school" %><figcaption>School Images</figcaption></div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><%= link_to image_tag("gallery/management/pic_1.JPG",:style => "height:300px; width:100%;",:class => "bordered img-responsive"),"management"  %><figcaption>Management Gallery</figcaption></a></div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><%=link_to image_tag("gallery/26-jan/pic_1.JPG",:style => "height:300px; width:100%;",:class => "bordered img-responsive"),"26thJan"%><figcaption>26 January Celeberation</figcaption></a></div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail"><%=link_to  image_tag("gallery/feveral_party/pic_1.JPG",:style => "height:300px; width:100%;",:class => "bordered img-responsive"),"feveral_party" %><figcaption>Feveral Party</figcaption></div>
</div>
</div>
	</div>
	</div>