<div>
	<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School<span class="primarycolor"> GALLERY</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		
	<center><h2 ><span id="heading" style="text-align:center;">Management</span></h2></center>
	<div id="links">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_1.JPG" title="Management1" data-gallery>
				<img src="assets/gallery/management/pic_1.JPG"  alt="Management1" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_2.JPG" title="Management2" data-gallery>
				<img src="assets/gallery/management/pic_2.JPG"  alt="Management2" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_3.JPG" title="Management3" data-gallery>
				<img src="assets/gallery/management/pic_3.JPG"  alt="Management3" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_4.JPG" title="Management4" data-gallery>
				<img src="assets/gallery/management/pic_4.JPG"  alt="Management4" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_5.JPG" title="Management5" data-gallery>
				<img src="assets/gallery/management/pic_5.JPG"  alt="Management5" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_6.JPG" title="Management6" data-gallery>
				<img src="assets/gallery/management/pic_6.JPG"  alt="Management6" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_7.JPG" title="Management7" data-gallery>
				<img src="assets/gallery/management/pic_7.JPG"  alt="Management7" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_8.JPG" title="Management8" data-gallery>
				<img src="assets/gallery/management/pic_8.JPG"  alt="Management8" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_9.JPG" title="Management9" data-gallery>
				<img src="assets/gallery/management/pic_9.JPG"  alt="Management9" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_10.JPG" title="Management10" data-gallery>
				<img src="assets/gallery/management/pic_10.JPG"  alt="Management10" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_11.JPG" title="Management11" data-gallery>
				<img src="assets/gallery/management/pic_11.JPG"  alt="Management11" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_12.JPG" title="Management12" data-gallery>
				<img src="assets/gallery/management/pic_12.JPG"  alt="Management12" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_13.JPG" title="Management13" data-gallery>
				<img src="assets/gallery/management/pic_13.JPG"  alt="Management13" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_14.JPG" title="Management14" data-gallery>
				<img src="assets/gallery/management/pic_14.JPG"  alt="Management14" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_15.JPG" title="Management15" data-gallery>
				<img src="assets/gallery/management/pic_15.JPG"  alt="Management15" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_16.JPG" title="Management16" data-gallery>
				<img src="assets/gallery/management/pic_16.JPG"  alt="Management16" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_17.JPG" title="Management17" data-gallery>
				<img src="assets/gallery/management/pic_17.JPG"  alt="Management17" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/management/pic_18.JPG" title="Management18" data-gallery>
				<img src="assets/gallery/management/pic_18.JPG"  alt="Management18" class="bordered img-responsive" />
			</a>
		</div>
	</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->

    <div class="slides">
    </div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
	</div>
	</div>