	<div>
	<div class="container" >
		<%= image_tag("student/Slider-2.jpg",:style => "height:300px; width:100%;") %>
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">Recommendation to the <span class="primarycolor"> Parents</span></h1><hr style="width:70%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
      <div class="table-responsive" >
        <table class="table table-hover " style="border-top:none;">
          <tbody id="myTable ">
            <tr>
              <td>1.</td>
			  <td>Parents are expected to give management and staff their whole hearted and willing co-operation in 
			  all matters pertaining to the education of their children threfore:<br><br>
			  A. Kindly abide by the judgement and decision of the management and the staff.<br>
			  B. Lead your support in matters of discipline andsee that your children observes school rules.<br>
			  C. Supervise your ward's studie at home. Send them to maintain continuity in their school work. It is essential for success.
			  </td>
            </tr>
            <tr>
              <td>2.</td>
			  <td>Parents are informed that occasional reports and recommendation from teacher are made in the school calender. They are requested to sign them as 
			  proof that they have read them thereafter.</td>
            </tr>
            <tr>
				<td>3.</td>
				<td>Parents or their similar expected to sign the terminal reports or their similar documents when so required.</td>
            </tr>
            <tr>
              <td>4.</td>
			  <td>Parents and Guardians are recommended to call at the principal's office at least once in each term, so as to acertain from the school authorities. what has been the conduct and progress of their ward.</td>
            </tr>
            <tr>
              <td>5.</td>
			  <td>Complaints, if any should liable be made to the principal and the complain book.</td>
            </tr>
			<tr>
              <td>6.</td>
			  <td>Students are allowed to engage any of the staff member of the school for private tuitions. If as an exception a particular student wants to engage any of the teacher of school he/she should get written permission from the principal.</td>
            </tr>
			<tr>
              <td>7.</td>
			  <td>In matters of evaluating and estimating examination answer as well decision with respect to promotion the opinion of the principal and management is in the best interest of your child be final.<br>
			  Therefore, Kindly refrain from requesting for personal serutiny of answer-papers or the re-evaluation and also promotion against the batter judgement of the authorities. Answer Paper shall not be shown.</td>
            </tr>
			<tr>
              <td>8.</td>
			  <td>Parents must understand that they can not dictate any terms to the management.</td>
            </tr>
          </tbody>
        </table>   
      </div>

	</div>
	<div class="col-xs-3"></div>
</div>
	</div>