	<div class="container">
	  <div id="header">
				<div class="col-xs-3 cart1" style="top:5px;">
					<!--<p height="20px;" width="20px;">M.G.M Sr.Sec. School<p/>-->
				</div>
				<div class="col-xs-6 logo" align="center">
					<h2 height="20px;" width="20px;" style="color:#DAE356;">M.G.M Sr.Sec. School</br>
					Firozabade,UP</h2>
				</div>
				<div class="col-xs-2 hidden-xs social" style="margin-top:40px; float:right;">
					<%= link_to image_tag("home_page/facebook.png",size: "30x30",class: "img-responsive social1",:style => "float: right;"),"https://www.facebook.com/M.G.MSchool1979.firozabade/" %>
					<%= link_to image_tag("home_page/email.png",size: "30x30",class: "img-responsive social1",:style => "float: right;"),"https://www.mgmschoolfirozabad@gmail.com" %>
					<%= image_tag("home_page/twitter1.png",size: "30x30",class: "img-responsive social1",:style => "float: right;") %>
              </div>
			 </div>   	

        <div class=" navbar navbar-default hidden-xs">
          <nav role="navigation" class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
					<li><a href="home" class="firstmenu">home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
							<ul class="dropdown-menu ">
										<li class="submenu"><a href="about_us">mission & vision</a></li>
										<li class="submenu"><a href="school_glance">school at glance</a></li>
										<li class="submenu"><a href="school_prayer">school prayer</a></li>
										<li class="submenu"><a href="school_anthem">school anthem</a></li>
							</ul>	
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="admission">admission</a></li>
										<li class="submenu"><a href="uniform">school uniform</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="parents_recomandation">recommendations to parents</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="teaching_staff">teaching staff</a></li>
							</ul>	
					</li>
					<li id="my"><a href="gallery">gallery</a></li>
					<li id="my"><a href="tc">download t.c.</a></li>
					<li id="my"><a href="contact_us">contact us</a></li>
					<li id="my"><a href="login">login</a></li>
				</ul>
          </nav>
        </div>
<div id="scroll" class="hidden-lg hidden-md hidden-sm">
      <nav class="menu-m col-xs-3" role="navigation" style="overflow-y:scroll;">
			  <ul class="nav navbar-nav">
					<li><a href="home" class="firstmenu">home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
							<ul class="dropdown-menu ">
										<li class="submenu"><a href="about_us">mission & vision</a></li>
										<li class="submenu"><a href="school_glance">school at glance</a></li>
										<li class="submenu"><a href="school_prayer">school prayer</a></li>
										<li class="submenu"><a href="school_anthem">school anthem</a></li>
							</ul>	GALLERY
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="admission">admission</a></li>
										<li class="submenu"><a href="uniform">school uniform</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="parents_recomandation">recommendations to<br> parents</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="teaching_staff">teaching staff</a></li>
							</ul>	
					</li>
					<li id="my"><a href="gallery">gallery</a></li>
					<li id="my"><a href="tc">download t.c.</a></li>
					<li id="my"><a href="contact_us">contact us</a></li>
					<li id="my"><a href="login">login</a></li>
				</ul>
  </nav>
			  <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</div>
	<div class="container">
		<%= image_tag("about_us/school_prayer/BannerAmbassador.png",:style => "width:100%; margin-top:10px; height:300px;") %>
		<div class="row-fluid text-center intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor">PRAYERS</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
     <table class="table">
    <tbody>
	<tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>GOD’S LOVE IS SO WONDERFUL</td>
      </tr>
      <tr class="success" style="font-size:20px;">
        <td>God’s love is so wonderful (3)<br>
            O wonderful live.<br>
            So high, you can’t get over it,<br>
            So deep, you can’t get under it,<br>
            So wide, you can’t get around it,<br>
            O wonderful love.<br>
LISTEN<br>
            Listen, let your heart keep seeking,<br>
            Listen to his constant speaking,<br>
            Listen to the Spirit calling you.<br>
            Listen to his inspiration,<br>
            Listen to his invitation,<br>
            Listen to the spirit calling you.<br>
1.         He’s is in the sound of the thunder,<br>
            In the whisper of the breeze<br>
            He’s in the might of the whirlwind,<br>
            In the roaring of the seas.<br>
2.         He’s in the laughter of children,<br>
            In the patter of the rain.<br>
            Hear him in cries of the suffering,<br>
            In their moaning and their pain.<br><br></td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>WE SHALL OVERCOME</td>
      </tr>
      <tr class="danger" style="font-size:20px;">
        <td>1. We shall overcome (3) Some day.<br>
Refrain -          O deep in my heart, I do believe<br>
2.         We’ll overcome some day.<br>
3.         We’ll walk hand in hand (3) today. (Refrain)<br>
4.         We shall work and pray (3) today. (Refrain)<br>
5.         The world is full of joy (3) today. (Refrain)</p>
				<p><br></td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>PRAYER FOR PEACE</td>
      </tr>
      <tr class="info" style="font-size:20px;">
        <td><br>

1.         Lord we pray for golden peace,<br>
            Peace all over the land.<br>
            May all men dwell in liberty.<br>
            Walking hand in hand.<br>
Chorus –          Banish fear and ignorance <br>
                        Hunger thirst and pain<br>
                        Banish hate and poverty<br>
                        Let no man live in vain.<br>
2.         Keep all men forever one,<br>
            One in love in grace,<br>
            Wipe away all war and strife,<br>
            Give freedom to each race.</p>
				<p><br></td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>ALL THINGS BRIGHT</td>
      </tr>
	  <tr class="success" style="font-size:20px;">
        <td><br>

All things bright and beautiful,<br>
            All creatures great and small,<br>
            All things wise and wonderful,<br>
            The good God made them all.<br>
1.         Each little flower that opens,<br>
            Each little bird that sings,<br>
            He made their glowing colours,<br>
            He made their tiny wings.<br>
2.         The purple headed mountains.<br>
            The river running by,<br>
            The sunset and the morning,<br>
            That brightness up the sky.<br>
3.         The cold wind in the winter,<br>
            The pleasant summer’s sun,<br>
            The ripe fruits in the country,<br>
            He made them everywhere.<br>
4.         He gave us eyes to see them,<br>
            And lips that we might tell,<br>
            How great is God Almighty,<br>
            Who has made all things well.<br>
				<p><br></td>
      </tr>
    </tbody>
  </table>
	</div>
	<div class="col-xs-3"></div>
</div>
	</div>
	<div class="footer footerdark">
		<div class="container">
			<!-- 1st row -->
			<div class="row-fluid">
				<div class="col-xs-4">
					<h1 class="title"><i class="fa fa-phone" style="font-size:15px;"></i>  contact us</h1>
					<hr></br>
					<a href=" mailto:mgmschoolfirozabad@gmail.com"><i class="fa fa-envelope-o"style="font-size:19px;"> mgmschoolfirozabad@gmail.com</i></a></br></br></br></br></br></br>
					<i class="fa fa-phone" style="font-size:19px;"> +91-9219420221</i>
				</div>
				<div class="col-xs-4">
				
					<h1 class="title"><i class="fa fa-map-marker" style="font-size:15px;"></i> Address</h1><hr>
					
					<div id="googleMap" class="col-xs-6" style="height:250px;"></div>
					<div id="address" class="col-xs-6">
              <addressess>
				M.G.M Sr. Sec. School<br>
				Firozabad,Dholpur road,<br>
				Uttar Paradesh ,<br>
				Pin Code:283203
			
              </addressess>
              </div>
					
				</div>
				<div class="col-xs-4">
				
					<h1 class="title"><i class="fa fa-comment" style="font-size:15px;"></i> Questions? / Feedback</h1>
					<hr>
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							Your message has been sent. Thank you!
						</div>
					</div>
					<form method="post" action="#" id="contactform">
						<div class="form">
							<div class="controls controls-row">
								<input class="span6 text-box" type="text" name="name" placeholder="Name" style="width:45%;">
								<input class="span6 text-box" type="text" name="email" placeholder="E-mail">
							</div>
							<div class="controls">
								<textarea class="span12 text-msg-box" name="comment" rows="4" placeholder="Message"></textarea>
							</div>
							<input type="submit" id="submit" class="btn" value="Send" style="outline:none;">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 2nd row -->
	<div class="footerbottom footerbottomdark">
		<div class="container">
			<div class="row-fluid">
				<!-- left -->
				<div class="col-xs-4 smallspacetop">
					<p class="smaller">
						<span class="copyright"></span> © Copyright 2015 mgmssschool.com
					</p>
				</div>
				<!-- right -->
				<div class="col-xs-4 smallspacetop" >
					<div class=" smaller" style="text-align:center;">
						<ul class="footermenu" >
							<li><a href="home">Home</a></li>
							<li><a href="about_us">About Us</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="teaching_staff.html">Staff</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="clearfix">
					</div>
				</div>
				<div class="col-xs-4 smallspacetop">
				<a href="https://www.facebook.com/M.G.MSchool1979.firozabade/" class="social1"><i class="fa fa-facebook-official"></i></a>
				<a href="https://plus.google.com/u/3/" class="social1"><i class="fa fa-google-plus-square"></i></a>
				<a href="https://twitter.com/Mgm_firozabade" class="social1"><i class="fa fa-twitter-square"></i></a>
				</div>
				<!-- end right -->
			</div>
		</div>
	</div>
<a href="#" class="back-to-top" style="display: inline;">
 
<i class="fa fa-arrow-circle-up back-to-top"></i>
 
</a>
</div>