	<div class="container">
	<%= image_tag("about_us/school_prayer/BannerAmbassador.png",:style => "width:100%; margin-top:10px; height:300px;") %>
		<div class="row-fluid text-center intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor">ANTHEM</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
     <table class="table">
    <tbody>
	<tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>GOD’S LOVE IS SO WONDERFUL</td>
      </tr>
      <tr class="success" style="font-size:20px;">
        <td>God’s love is so wonderful (3)<br>
            O wonderful live.<br>
            So high, you can’t get over it,<br>
            So deep, you can’t get under it,<br>
            So wide, you can’t get around it,<br>
            O wonderful love.<br>
LISTEN<br>
            Listen, let your heart keep seeking,<br>
            Listen to his constant speaking,<br>
            Listen to the Spirit calling you.<br>
            Listen to his inspiration,<br>
            Listen to his invitation,<br>
            Listen to the spirit calling you.<br>
1.         He’s is in the sound of the thunder,<br>
            In the whisper of the breeze<br>
            He’s in the might of the whirlwind,<br>
            In the roaring of the seas.<br>
2.         He’s in the laughter of children,<br>
            In the patter of the rain.<br>
            Hear him in cries of the suffering,<br>
            In their moaning and their pain.<br><br></td>
      </tr>
    </tbody>
  </table>
		<h1 style="text-align:center; font-size:60px;">National <span class="primarycolor">ANTHEM</span></h1><hr style="width:90%; border-color:#0b0b0b; margin-bottom:0px;">
		<table class="table" style="background:url(<%= asset_path 'about_us/school_anthem/flag.jpg' %>) no-repeat  center;background-size: 100% 100%;">
    <tbody>
	<tr style="text-align:center; font-size:20px; color:#000088; border-bottom:hidden;">
        <td >IN ENGLISH</td>
      </tr>
      <tr style="font-size:20px;">
        <td>Jana gana mana adhi naayaka jaya hai! <br>
Bhaarat bhaagya vidhaata <br>
Punjab Sindh Gujarat Maraatha, <br>
Dravid Utkala Bangaa. <br>
Vindhya Himachala Yamuna Ganga, <br>
Uchhala jaladhi taranga. <br>
Tava shubh naame jaage, <br>
Tava shubh aashish maage, <br>
Gahe tava jaya-gaatha. <br><br>

Jana-gana-mangaladayaka jaya hai! <br>
Bharat bhagya vidhata. <br><br>
Jaya hai! Jaya hai! Jaya hai! <br>
Jaya Jaya Jaya Jaya hai!<br><br></td>
      </tr><br><br><br>
	  <tr style="text-align:center; font-size:20px; color:#000088; border-bottom:hidden;">
        <td>IN HINDI</td>
      </tr>
	  <tr style="font-size:20px;">
        <td>जन गण मन अधिनायक जय हे<br>
भारत भाग्यविधाता<br>
पंजाब सिन्धु गुजरात मराठा<br>
द्राविड़ उत्कल बंगा<br>
विन्ध्य हिमाचल यमुना गंगा<br>
उच्छल जलधि तरंगा<br>
तव शुभ नामे जागे<br>
तव शुभ आशीष मागे<br>
गाहे तव जयगाथा<br><br>

जन गण मंगलदायक जय हे<br>
भारत भाग्यविधाता<br><br>
जय हे, जय हे, जय हे<br>
जय जय जय जय हे!<br><br>
 </td>
      </tr>
    </tbody>
  </table>
  <h1 style="text-align:center; font-size:60px;">National <span class="primarycolor">SONG</span></h1><hr style="width:90%; border-color:#0b0b0b; margin-bottom:0px;"><br><br><br>
		<table class="table" style="background:url(<%= asset_path 'about_us/school_anthem/flag.jpg' %>) no-repeat  center;background-size: 100% 100%;">
    <tbody>
	<tr style="text-align:center; font-size:20px; color:#000088; border-bottom:hidden;">
        <td>IN ENGLISH</td>
      </tr>
      <tr style="font-size:20px;">
        <td>“Vande Mataram!<br>
Sujalam suphalam, malayaja shitalam,<br>
Shasyashyamalam, Mataram! <br>
Shubhrajyotsna pulakitayaminim,<br>
Phullakusumita drumadala shobhinim,<br>
Suhasinim, sumadhura bhashinim,<br>
Sukhadam, varadam, Mataram! Vande Matram!<br><br>
Saptakotikantha kalakala ninada karale<br>
Dvisaptakoti bhujair dhrita-khara karavale<br>
Abala kena ma eta bale<br>
Bahubala dharinim, namami tarinim,<br>
Ripudalavarinim Mataram! Vande Matram!”<br><br>	</td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#000088; border-bottom:hidden;">
        <td>IN HINDI</td>
      </tr>
	  <tr style="font-size:20px;">
        <td>“वन्दे मातरम्<br>
सुजलां सुफलां मलयजशीतलाम्<br>
शस्यशामलां मातरम् ।<br>
शुभ्रज्योत्स्नापुलकितयामिनीं<br>
फुल्लकुसुमितद्रुमदलशोभिनीं<br>
सुहासिनीं सुमधुर भाषिणीं<br>
सुखदां वरदां मातरम् ।। १ ।। वन्दे मातरम् ।<br><br>
कोटि-कोटि-कण्ठ-कल-कल-निनाद-कराले<br>
कोटि-कोटि-भुजैर्धृत-खरकरवाले,<br>
अबला केन मा एत बले ।<br>
बहुबलधारिणीं नमामि तारिणीं<br>
रिपुदलवारिणीं मातरम् ।। २ ।। वन्दे मातरम् ।”<br><br>
 </td>
      </tr>
    </tbody>
  </table>

	</div>
	<div class="col-xs-3"></div>
</div>
	</div>