	<div class="container">
		<%= image_tag("about_us/school_prayer/BannerAmbassador.png",:style => "width:100%; margin-top:10px; height:300px;") %>
		<div class="row-fluid text-center intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor">PRAYERS</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
     <table class="table">
    <tbody>
	<tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>GOD’S LOVE IS SO WONDERFUL</td>
      </tr>
      <tr class="success" style="font-size:20px;">
        <td>God’s love is so wonderful (3)<br>
            O wonderful live.<br>
            So high, you can’t get over it,<br>
            So deep, you can’t get under it,<br>
            So wide, you can’t get around it,<br>
            O wonderful love.<br>
LISTEN<br>
            Listen, let your heart keep seeking,<br>
            Listen to his constant speaking,<br>
            Listen to the Spirit calling you.<br>
            Listen to his inspiration,<br>
            Listen to his invitation,<br>
            Listen to the spirit calling you.<br>
1.         He’s is in the sound of the thunder,<br>
            In the whisper of the breeze<br>
            He’s in the might of the whirlwind,<br>
            In the roaring of the seas.<br>
2.         He’s in the laughter of children,<br>
            In the patter of the rain.<br>
            Hear him in cries of the suffering,<br>
            In their moaning and their pain.<br><br></td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>WE SHALL OVERCOME</td>
      </tr>
      <tr class="danger" style="font-size:20px;">
        <td>1. We shall overcome (3) Some day.<br>
Refrain -          O deep in my heart, I do believe<br>
2.         We’ll overcome some day.<br>
3.         We’ll walk hand in hand (3) today. (Refrain)<br>
4.         We shall work and pray (3) today. (Refrain)<br>
5.         The world is full of joy (3) today. (Refrain)</p>
				<p><br></td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>PRAYER FOR PEACE</td>
      </tr>
      <tr class="info" style="font-size:20px;">
        <td><br>

1.         Lord we pray for golden peace,<br>
            Peace all over the land.<br>
            May all men dwell in liberty.<br>
            Walking hand in hand.<br>
Chorus –          Banish fear and ignorance <br>
                        Hunger thirst and pain<br>
                        Banish hate and poverty<br>
                        Let no man live in vain.<br>
2.         Keep all men forever one,<br>
            One in love in grace,<br>
            Wipe away all war and strife,<br>
            Give freedom to each race.</p>
				<p><br></td>
      </tr>
	  <tr style="text-align:center; font-size:20px; color:#ffffff;">
        <td>ALL THINGS BRIGHT</td>
      </tr>
	  <tr class="success" style="font-size:20px;">
        <td><br>

All things bright and beautiful,<br>
            All creatures great and small,<br>
            All things wise and wonderful,<br>
            The good God made them all.<br>
1.         Each little flower that opens,<br>
            Each little bird that sings,<br>
            He made their glowing colours,<br>
            He made their tiny wings.<br>
2.         The purple headed mountains.<br>
            The river running by,<br>
            The sunset and the morning,<br>
            That brightness up the sky.<br>
3.         The cold wind in the winter,<br>
            The pleasant summer’s sun,<br>
            The ripe fruits in the country,<br>
            He made them everywhere.<br>
4.         He gave us eyes to see them,<br>
            And lips that we might tell,<br>
            How great is God Almighty,<br>
            Who has made all things well.<br>
				<p><br></td>
      </tr>
    </tbody>
  </table>
	</div>
	<div class="col-xs-3"></div>
</div>
	</div>