<div>
	<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor"> GALLERY</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		
	<center><h2 ><span id="heading" style="text-align:center;">School</span></h2></center>
	<div id="links">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic1.JPG" title="School1" data-gallery>
				<img src="assets/gallery/school/pic1.JPG"  alt="School1" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic2.JPG" title="School2" data-gallery>
				<img src="assets/gallery/school/pic2.JPG"  alt="School2" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic3.JPG" title="School3" data-gallery>
				<img src="assets/gallery/school/pic3.JPG"  alt="School3" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic4.JPG" title="School4" data-gallery>
				<img src="assets/gallery/school/pic4.JPG"  alt="School4" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic5.JPG" title="School5" data-gallery>
				<img src="assets/gallery/school/pic5.JPG"  alt="School5" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic6.JPG" title="School6" data-gallery>
				<img src="assets/gallery/school/pic6.JPG"  alt="School6" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic7.JPG" title="School7" data-gallery>
				<img src="assets/gallery/school/pic7.JPG"  alt="School7" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic8.JPG" title="School8" data-gallery>
				<img src="assets/gallery/school/pic8.JPG"  alt="School8" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic9.JPG" title="School9" data-gallery>
				<img src="assets/gallery/school/pic9.JPG"  alt="School9" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic10.JPG" title="School10" data-gallery>
				<img src="assets/gallery/school/pic10.JPG"  alt="School10" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic11.JPG" title="School11" data-gallery>
				<img src="assets/gallery/school/pic11.JPG"  alt="School11" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic12.JPG" title="School12" data-gallery>
				<img src="assets/gallery/school/pic12.JPG"  alt="School12" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic13.JPG" title="School13" data-gallery>
				<img src="assets/gallery/school/pic13.JPG"  alt="School13" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic14.JPG" title="School14" data-gallery>
				<img src="assets/gallery/school/pic14.JPG"  alt="School14" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic15.JPG" title="School15" data-gallery>
				<img src="assets/gallery/school/pic15.JPG"  alt="School15" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic16.JPG" title="School16" data-gallery>
				<img src="assets/gallery/school/pic16.JPG"  alt="School16" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic17.JPG" title="School17" data-gallery>
				<img src="assets/gallery/school/pic17.JPG"  alt="School17" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic18.JPG" title="School18" data-gallery>
				<img src="assets/gallery/school/pic18.JPG"  alt="School18" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic19.JPG" title="School19" data-gallery>
				<img src="assets/gallery/school/pic19.JPG"  alt="School19" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic20.JPG" title="School20" data-gallery>
				<img src="assets/gallery/school/pic20.JPG"  alt="School20" class="bordered img-responsive" />
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail">
			<a href="assets/gallery/school/pic21.JPG" title="School21" data-gallery>
				<img src="assets/gallery/school/pic21.JPG"  alt="School21" class="bordered img-responsive" />
			</a>
		</div>
	</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->

    <div class="slides">
    </div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
	</div>
	</div>