		<div>
	<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor"> Uniform</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
      <div class="table-responsive" style="text-align:justify;">
        <table class="table table-hover">
          <tbody id="myTable">
		  <tr>
		   <th>S.NO.</th>
		   <th>Name of Teacher</th>
		   <th>DESIGNATION</th>
		   <th>QUALIFICATION</th>
		   <th>Teaching-Subject</th>
		</tr>
            <tr>
			  <td>1.</td>
              <td>Arti Sharma</td>
              <td>TGT(VICE-PRINCIPAL) </td>
			  <td>M.A.(Music), B.Ed.</td>
			  <td>HINDI/Fine Art</td>
            </tr>
           <tr>
			  <td>2.</td>
              <td>Rajanesh Sharma</td>
              <td>PGT</td>
			  <td>M.Sc.(Chem), B.Ed.</td>
			  <td>CHEMISTRY</td>
            </tr>
			<tr>
			  <td>3.</td>
              <td>Vinay Kulashreshtha</td>
              <td>PGT</td>
			  <td>M.Com. ,B.Ed.</td>
			  <td>ACCOUNT</td>
            </tr>
			<tr>
			  <td>4.</td>
              <td>Manoj Jain</td>
              <td>PGT</td>
			  <td>M.A. (Hindi) ,B.Ed.</td>
			  <td>HINDI</td>
            </tr>
			<tr>
			  <td>5.</td>
              <td>Sudesh Kumar sharma</td>
              <td>PGT</td>
			  <td>M.A. (Hindi) ,B.Ed.,Ph.d</td>
			  <td>HINDI</td>
            </tr>
			<tr>
			  <td>6.</td>
              <td>Shrikant Sharma</td>
              <td>PGT</td>
			  <td>M.Sc. (Maths) ,B.Ed.,M.Ed</td>
			  <td>MATHS</td>
            </tr>
			<tr>
			  <td>7.</td>
              <td>Nisha Singh</td>
              <td>PGT</td>
			  <td>M.A.(Eng.) ,B.Ed.,L.L.B</td>
			  <td>ENGLISH</td>
            </tr>
			<tr>
			  <td>8.</td>
              <td>Preeti Gupta</td>
              <td>PGT</td>
			  <td>M.A.(Eng.) ,B.Ed.</td>
			  <td>ENGLISH</td>
            </tr>
			<tr>
			  <td>9.</td>
              <td>Rambahadur Sharma</td>
              <td>PGT</td>
			  <td>M.A.(Hindi.) ,B.P.Ed.</td>
			  <td>PHY. EDUCA.</td>
            </tr>
			<tr>
			  <td>10.</td>
              <td>M.P. Singh</td>
              <td>TGT</td>
			  <td>B.Sc.,M.A.(Eco.) ,M.Ed.</td>
			  <td>MATHS</td>
            </tr>
			<tr>
			  <td>11.</td>
              <td>Madhulika Saxena</td>
              <td>TGT</td>
			  <td>M.A.(Hindi) ,B.Ed.</td>
			  <td>HINDI</td>
            </tr>
			<tr>
			  <td>12.</td>
              <td>Aravind Dixit</td>
              <td>TGT</td>
			  <td>B.Sc.,M.A.(Eco.) ,B.Ed.</td>
			  <td>MATHS</td>
            </tr>
			<tr>
			  <td>13.</td>
              <td>Archana Sharma</td>
              <td>TGT</td>
			  <td>B.A.,B.Ed.</td>
			  <td>ENGLISH</td>
            </tr>
			<tr>
			  <td>14.</td>
              <td>Asha Dubey</td>
              <td>TGT</td>
			  <td>M.A.(Sans),B.Ed.</td>
			  <td>HINDI</td>
            </tr>
			<tr>
			  <td>15.</td>
              <td>Sachin Gupta</td>
              <td>TGT</td>
			  <td>B.Sc.,B.Ed.,P.G.D.C.P</td>
			  <td>COMPUTER</td>
            </tr>
			<tr>
			  <td>16.</td>
              <td>Sadhana Pathak</td>
              <td>TGT</td>
			  <td>M.A.(Eng.)</td>
			  <td>ENGLISH</td>
            </tr>
			<tr>
			  <td>17.</td>
              <td>Sunita Pachauri</td>
              <td>TGT</td>
			  <td>M.A.(Sans.),B.Ed.</td>
			  <td>SOCIAL</td>
            </tr>
			<tr>
			  <td>18.</td>
              <td>Rama Upadhyaya</td>
              <td>TGT</td>
			  <td>B.Com.,B.Ed.</td>
			  <td>SOCIAL/ENG.</td>
            </tr>
			<tr>
			  <td>19.</td>
              <td>Deepti Gupta</td>
              <td>PRT</td>
			  <td>M.Sc.(Zoology),B.Ed.</td>
			  <td>PRT</td>
            </tr>
			<tr>
			  <td>20.</td>
              <td>Neeta Gupta</td>
              <td>PRT</td>
			  <td>B.A.</td>
			  <td>PRT</td>
            </tr>
          </tbody>
        </table>   
      </div>

	</div>
	<div class="col-xs-3"></div>
</div>
	</div>