	<div>
	<div class="container" >
		<div class="row-fluid text-left intro">
		<h1 style="text-align:center; font-size:60px;">School <span class="primarycolor"> Uniform</span></h1><hr style="width:40%; border-color:#0b0b0b;">
		<div class="col-xs-3"></div>
	<div class="col-xs-6">
      <div class="table-responsive">
        <table class="table">
          <tbody id="myTable">
			<tr style="text-align:center; font-size:30px; color:#ffffff; "collapse="2">
        <td colspan="3" style="border-top:none;">Girls Uniform</td>
		
      </tr>
            <tr>
			<td>Class I - V</td>
              <td>Grey Tunic with blouse(Half sleeves),
			  Tie & Belt of approved design, Prescribed socks,
			  Black Shoes</td>
              <td>Monday,Tuesday,Thursday,Friday </td>
            </tr>
           <tr>
			<td>Class I - V</td>
              <td>White Uniform with canvas shoes &socks</td>
              <td>Wednesday & Saturday</td>
            </tr>
			<tr>
            <td>Class VI - XII</td>
              <td>Grey Kurta with Salwar white,
			  Prescribed socks,
			  Black Shoes</td>
              <td>Monday,Tuesday,Thursday,Friday </td>
            </tr>
			<tr>
			<td>Class VI - XII</td>
              <td>White Uniform with canvas shoes &socks</td>
              <td>Wednesday & Saturday</td>
            </tr>
           <tr style="text-align:center; font-size:30px; color:#ffffff; "collapse="2">
        <td colspan="3">Boys Uniform</td>
		<td></td>
      </tr>
            <tr>
				<td>Class I - V</td>
              <td>Grey short, White Shirt, Tie & Belt of approved
			  design, Prescribed socks and Black shoes.</td>
              <td>Monday,Tuesday,Thursday,Friday</td>
            </tr>
            <tr>
			<td>Class I - V</td>
              <td>White Uniform with canvas shoes &socks</td>
              <td>Wednesday & Saturday</td>
            </tr>
            <tr>
			<tr>
				<td>Class VI - XII</td>
              <td>Grey Trouser, White Shirt, Tie & Belt of approved
			  design, Prescribed socks and Black shoes.</td>
              <td>Monday,Tuesday,Thursday,Friday</td>
            </tr>
            <tr>
				<td width="100px;">Class VI - XII</td>
              <td>White Uniform with canvas shoes &socks</td>
              <td>Wednesday & Saturday</td>
            </tr>
            <tr>
              <tr style="text-align:center; font-size:30px; color:#ffffff; "collapse="2">
        <td colspan="3">Winter Uniform </td>
		<td></td>
      </tr>
	  <tr style="border-bottom:1px solid #ddd;">
				<td> Class I - XII</td>
              <td>Grey Sweaters , Blue Blazer, Grey Trouser for boys & Grey stocking for Girls</td>
              <td >Monday,Tuesday,Wednesday,Thursday<br>Friday,Saturday</td>
            </tr>
          </tbody>
        </table>   
      </div>

	</div>
	<div class="col-xs-3"></div>
</div>
	</div>