<div class="container">
  <div class="footer footerdark">
    <div class="container">
      <!-- 1st row -->
      <div class="row-fluid">
        <div class="col-xs-4">
          <h1 class="title"><i class="fa fa-phone" style="font-size:15px;"></i>  contact us</h1>
          <hr></br>
          <a href=" mailto:mgmschoolfirozabad@gmail.com"><i class="fa fa-envelope-o"style="font-size:19px;"> mgmschoolfirozabad@gmail.com</i></a></br></br></br></br></br></br>
          <i class="fa fa-phone" style="font-size:19px;"> +91-9219420221</i>
        </div>
        <div class="col-xs-4">
        
          <h1 class="title"><i class="fa fa-map-marker" style="font-size:15px;"></i> Address</h1><hr>
          
          <div id="googleMap" class="col-xs-6" style="height:250px;"></div>
          <div id="address" class="col-xs-6">
              <addressess>
        M.G.M Sr. Sec. School<br>
        Firozabad,Dholpur road,<br>
        Uttar Paradesh ,<br>
        Pin Code:283203
      
              </addressess>
              </div>
          
        </div>
        <div class="col-xs-4">
        
          <h1 class="title"><i class="fa fa-comment" style="font-size:15px;"></i> Questions? / Feedback</h1>
          <hr>
          <div class="done">
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              Your message has been sent. Thank you!
            </div>
          </div>
          <form method="get" action="<%=home_path %>" id="contactform">
            <div class="form">
              <div class="controls controls-row">
                <input class="span6 text-box" type="text" name="name" placeholder="Name" style="width:45%;">
                <input class="span6 text-box" type="text" name="email" placeholder="E-mail">
              </div>
              <div class="controls">
                <textarea class="span12 text-msg-box" name="comment" rows="4" placeholder="Message"></textarea>
              </div>
              <input type="submit" id="submit" class="btn" value="Send" style="outline:none;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 2nd row -->
  <div class="footerbottom footerbottomdark">
    <div class="container">
      <div class="row-fluid">
        <!-- left -->
        <div class="col-xs-4 smallspacetop">
          <p class="smaller">
            <span class="copyright"></span> © Copyright 2015 mgmssschool.com
          </p>
        </div>
        <!-- right -->
        <div class="col-xs-4 smallspacetop" >
          <div class=" smaller" style="text-align:center;">
            <ul class="footermenu" >
              <li><a href="home">Home</a></li>
              <li><a href="about_us">About Us</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="teaching_staff.html">Staff</a></li>
              <li><a href="contact_us.html">Contact</a></li>
            </ul>
          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="col-xs-4 smallspacetop">
        <a href="https://www.facebook.com/M.G.MSchool1979.firozabade/" class="social1" target="_blank"><i class="fa fa-facebook-official" ></i></a>
        <a href="https://plus.google.com/u/2/" class="social1" target="_blank"><i class="fa fa-google-plus-square"></i></a>
        <a href="https://twitter.com/Mgm_firozabade" class="social1" target="_blank"><i class="fa fa-twitter-square"></i></a>
        </div>
        <!-- end right -->
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top" style="display: inline;">
 
<img src="assets/home_page/top.png"><i class="fa fa-arrow-circle-up back-to-top"></i>
 
</a>
</div>
</div>