<div class="container">
    <div id="header">
        <div class="col-xs-3 cart1" style="top:5px;">
          <!--<p height="20px;" width="20px;">M.G.M Sr.Sec. School<p/>-->
        </div>
        <div class="col-xs-6 logo" align="center">
          <h2 height="20px;" width="20px;" style="color:#DAE356;">M.G.M Sr.Sec. School</br>
          Firozabade,UP</h2>
        </div>
        <div class="col-xs-2 hidden-xs social" style="margin-top:40px; float:right;">
          <%= link_to image_tag("home_page/facebook.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"https://www.facebook.com/M.G.MSchool1979.firozabade" %>
          <%= link_to image_tag("home_page/email.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"mailto:mgmschoolfirozabad@gmail.com" %>
          <%= link_to image_tag("home_page/twitter1.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"https://twitter.com/Mgm_firozabade" %>
              </div>
       </div>     

        <div class=" navbar navbar-default hidden-xs">
          <nav role="navigation" class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
          <li><a href="home" class="firstmenu">home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
              <ul class="dropdown-menu ">
                    <li class="submenu"><a href="about_us">mission & vision</a></li>
                    <li class="submenu"><a href="school_glance">school at glance</a></li>
                    <li class="submenu"><a href="school_prayer">school prayer</a></li>
                    <li class="submenu"><a href="school_anthem">school anthem</a></li>
              </ul> 
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="admission">admission</a></li>
                    <li class="submenu"><a href="uniform">school uniform</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="parents_recomandation">recommendations to parents</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="teaching_staff">teaching staff</a></li>
              </ul> 
          </li>
          <li id="my"><a href="gallery">gallery</a></li>
          <li id="my"><a href="tc">download t.c.</a></li>
          <li id="my"><a href="contact_us">contact us</a></li>
          <li id="my"><a href="login">login</a></li>
        </ul>
          </nav>
        </div>
<div id="scroll" class="hidden-lg hidden-md hidden-sm">
      <nav class="menu-m col-xs-3" role="navigation" style="overflow-y:scroll;">
        <ul class="nav navbar-nav">
          <li><a href="home" class="firstmenu">home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
              <ul class="dropdown-menu ">
                    <li class="submenu"><a href="about_us">mission & vision</a></li>
                    <li class="submenu"><a href="school_glance">school at glance</a></li>
                    <li class="submenu"><a href="school_prayer">school prayer</a></li>
                    <li class="submenu"><a href="school_anthem">school anthem</a></li>
              </ul> GALLERY
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="admission">admission</a></li>
                    <li class="submenu"><a href="uniform">school uniform</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="parents_recomandation">recommendations to<br> parents</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="teaching_staff">teaching staff</a></li>
              </ul> 
          </li>
          <li id="my"><a href="gallery">gallery</a></li>
          <li id="my"><a href="tc">download t.c.</a></li>
          <li id="my"><a href="contact_us">contact us</a></li>
          <li id="my"><a href="login">login</a></li>
        </ul>
  </nav>
        <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</div>